.landing-page{
    .content{
        .title{
            h2{
                text-align: center;
                b{
                    color: var(--chewode-blue);
                    font-size: 1.3em;
                }
            }
        }
        .icon-cards-row{
            display: flex;
            max-width: 1000px;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            margin-bottom: 20px;
            .icon-card{
                max-width: 300px;
                display: flex;
                // align-items: center;
                justify-content: center;
                background-color: white;
                flex-direction: column;
                border-radius: 5px;
                
                .icon-wrapper{
                    // border: 1px solid black;
                    display: flex;
                    // flex-direction: column;
                    width: 200px;
                    height: 200px;
                    
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    .svg-inline--fa{
                        font-size: 5em;
                        
                    }
                }
                .icon-card-label{
                    display: block;
                    text-align: center;
                    font-size: 1.5em;
                    font-weight: bold;
                }
            }
        }
        .user-row{
            display: flex;
            flex-direction: row;
            gap: 20px;
            // margin: auto;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 50px;
            div{
                button{

                    // margin-top: 10px;

                    // margin-bottom: 20px;

                    padding: 5px;
                    align-self: center;
                    border-radius: 20px;
                    border: 0;
                    background-color: var(--river-bed);
                    color: white;
                    padding: 10px 50px;
                    font-weight: bold;
                    // font-size: 1.1em;

                    cursor: pointer;
                }
            }
        }
    }
}