
.forget-password-page-content{
    width: max-content;
    margin: auto;
    padding: 25px;
    background-color: white;
    border-radius: 5px;
    
    .form-wrapper{
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        label{
            align-self: flex-start;
            display: block;
            margin-bottom: 5px;
            font-weight: bold;

            .error{
                color: var(--danger);
            }
        }
        input{
            display: block;
            width: 300px;
            align-self: flex-start;
            margin-bottom: 20px;
        }
        button{
            margin-bottom: 20px;
            padding: 5px;
            align-self: center;
            border-radius: 20px;
            border: 0;
            background-color: var(--river-bed);
            color: white;
            padding: 10px 50px;
            font-weight: bold;
            cursor: pointer;
        }
        
        
    }
    .have-account{
        span{
            cursor: pointer;
            color: var(--river-bed);
            font-weight: bold;
        }
    }
    .error-detail{
        width: 200px;
        background-color: var(--danger);
        padding: 10px;
    }
}
